:root {
  --primary-color: #2f3035;
  --secondary-color: rgb(241, 224, 217);

  --third-color: rgb(249, 215, 184);
  --optional-color: rgb(114, 96, 115);
  --default-font-family: "Tauri", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: var(--primary-color);
}

.wrapper {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

header {
  padding: 200px 0;
  background-image: url("../images/stage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  border-radius: 2px;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  line-height: 1.5;
  color: var(--secondary-color);
  font-family: "Reddit Mono", monospace;
}

h2 {
  font-size: 50px;
  color: var(--secondary-color);
}

h3 {
  font-size: 30px;
  line-height: 1;
  color: var(--secondary-color);
}

h4 {
  color: var(--secondary-color);
  font-size: 48px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--third-color);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  color: var(--secondary-color);
  list-style: none;
  padding-left: 10px;
}

nav li.active a {
  color: var(--third-color);
  text-decoration: solid;
}

nav p {
  color: var(--secondary-color);
}

nav a {
  text-decoration: none;
  color: rgba(241, 224, 217, 0.7);
  transition: all 100ms ease-in-out;
}

nav a:hover {
  text-decoration: none;
  color: var(--third-color);
}

.row p {
  font-size: 18px;
}

.row h2 {
  font-size: 50px;
}

.row img {
  opacity: 0.6;
  border-radius: 2px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.row img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.content-container {
  margin: 0 auto;
  padding: 100px 20px;
}

footer {
  margin: 50px 0;
}

.contact-box {
  background: rgba(114, 96, 115, 0.5);

  padding: 30px 120px;
  border-radius: 2px;
}

.contact-box p {
  margin: 0;
  color: var(--primary-color);
}

.contact-box .contact-button {
  padding: 20px 30px;
  font-size: 18px;
}

.email-link {
  color: var(--optional-color);
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

.email-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  padding: 10px;
  font-size: 25px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  font-size: 30px;
  opacity: 0.7;
}

.final-text {
  font-size: 12px;
  color: var(--secondary-color);
}

.final-text a {
  text-decoration: none;
  color: var(--third-color);
}

.final-text a:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  .wrapper {
    max-width: 70%;
  }
  header {
    background-image: url("../images/just-beatriz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 40px;
  }
  header h2 {
    display: none;
  }
  header p {
    display: none;
  }

  nav p {
    display: none;
  }

  .content-container {
    text-align: center;
  }

  .contact-box {
    padding: 30px;
  }
  .contact-box h4 {
    font-size: 20px;
  }

  .contact-box .contact-button {
    padding: 20px 0;
  }
  .final-text {
    text-align: center;
    font-size: 11px;
  }
}

.row {
  padding: 0 20px 0;
}
.content-container {
  padding: 0;
}

.content-container h1 {
  text-align: start;
  font-size: 50px;
}

.content-container h2 {
  font-size: 30px;
}

.content {
  margin: 30px;
}

.contact-container {
  text-align: center;
}

.contact-container a {
  color: var(--optional-color);
}

.here-link {
  color: var(--optional-color);
}

.here-link:hover {
  color: #f1e0d9;
}
